<div class="updated-packages">
    <div class="flexrow header">
        <div class="package">{{ localize "SETUP.Package" }}</div>
        <div class="action">{{ localize "Result" }}</div>
        <div class="description">{{ localize "Description" }}</div>
    </div>
    {{#each changed}}
    <div class="flexrow result">
        <div class="package">
            {{#if package.url}}
            <a href="{{ package.url }}" target="_blank">{{ package.title }}</a>
            {{else}}
            {{ package.title }}
            {{/if}}
        </div>
        <div class="action {{ actionClass }}"><i class="fas"></i> {{ action }}</div>
        <div class="description">{{ description }}</div>
    </div>
    {{/each}}
    {{#if incompatible}}
    <hr>
    <p>{{ localize "SETUP.PackageIncompatibleSystemsBulkPrompt" }}</p>
    <ul>
        {{#each incompatible}}
        <li>{{{ this }}}</li>
        {{/each}}
    </ul>
    {{/if}}
</div>
