<div class="compendium directory flexcol" data-pack="{{collection.collection}}">

    <!-- Directory Header -->
    <header class="directory-header flexcol">
        <div class="header-banner" {{#if collection.banner}}style="background-image: url('{{collection.banner}}')"{{/if}}>
            <h3 class="entry-name compendium-name"><i class="{{sidebarIcon}}" ></i> {{name}}</h3>
        </div>
        <div class="header-actions action-buttons flexrow">
            {{#if canCreateEntry}}
            <button class="create-document create-entry"><i class="{{sidebarIcon}}"></i> {{localize 'SIDEBAR.Create' type=label}}</button>
            {{/if}}
            {{#if canCreateFolder }}
            <button class="create-folder"><i class="{{folderIcon}}"></i> {{localize 'FOLDER.Create'}}</button>
            {{/if}}
        </div>
        <div class="header-search flexrow">
            <a class="header-control toggle-search-mode" data-tooltip="{{localize searchTooltip}}"><i class="fas {{searchIcon}}"></i></a>
            <input type="search" name="search" value="" placeholder="{{ localize 'FILES.Search' }}" autocomplete="off"/>
            <a class="header-control toggle-sort" data-tooltip="{{localize sortTooltip}}"><i class="fa-solid {{sortIcon}}"></i></a>
            <a class="header-control collapse-all" data-tooltip="{{localize 'FOLDER.Collapse'}}"><i class="fa-duotone fa-folder-tree"></i></a>
        </div>
    </header>

    <!-- Directory Contents -->
    <ol class="directory-list">
        {{~#each tree.children}}
        {{> (lookup @root "folderPartial") node=this folder=this.folder}}
        {{/each}}
        {{#each tree.entries}}
        {{> (lookup @root "entryPartial")}}
        {{/each~}}
    </ol>

    <!-- Directory Footer -->
    {{#if footerButtons.length}}
    <footer class="directory-footer flexrow">
        {{#each footerButtons}}
        <button type="button" data-action="{{this.action}}">
            <i class="{{this.icon}}"></i>
            {{localize this.label}}
        </button>
        {{/each}}
    </footer>
    {{/if}}
</div>
