<h2 class="border">{{this.title}}</h2>
{{#each this.menus}}
<div class="form-group submenu">
    <label>{{ localize this.name }}</label>
    <button type="button" data-key="{{ this.key }}">
        {{#if this.icon}}<i class="{{ this.icon }}"></i>{{/if}}
        <label>{{ localize this.label }}</label>
    </button>
    {{#if this.hint}}<p class="notes">{{ localize this.hint }}</p>{{/if}}
</div>
{{/each}}

{{#each this.settings}}
<div class="form-group" data-setting-id="{{this.id}}">
    <label>{{this.name}}</label>
    <div class="form-fields">

        {{#if this.dataField}}
        {{formInput this.dataField value=this.value input=this.input localize=true}}

        {{else if this.isCheckbox}}
        <input type="checkbox" name="{{this.id}}" data-dtype="Boolean" {{checked this.value}}/>

        {{else if this.isSelect}}
        <select name="{{this.id}}" data-dtype="{{this.type}}">
            {{selectOptions this.choices selected=this.value localize=true}}
        </select>

        {{else if this.isRange}}
        <input type="range" name="{{this.id}}" data-dtype="Number" value="{{ this.value }}"
               min="{{ this.range.min }}" max="{{ this.range.max }}" step="{{ this.range.step }}"/>
        <span class="range-value">{{this.value}}</span>

        {{else if this.filePicker}}
        <file-picker name="{{this.id}}" type="{{this.filePickerType}}" value="{{this.value}}"></file-picker>

        {{else if this.isNumber}}
        {{numberInput this.value name=this.id}}

        {{else}}
        <input type="text" name="{{this.id}}" value="{{this.value}}" data-dtype="{{this.type}}"/>
        {{/if}}
    </div>

    <p class="notes">{{this.hint}}</p>
</div>
{{/each}}
